.box { 
  width: 100px;
  height: 100px;
  background-color: orange;
  /* font-size: 100px;
  transition: 1s; */
} 

/* .box::before{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: royalblue;
  
}

[type="text"]{
  color: red;
  background-color: orange;
} */
div  {
  font-size: 70px;
}

div.hello {
  color: green;
}
.hello {
  color: red ;
}

